@model LocadoraDDD.MVC.Models.GeneroViewModel

@{
    ViewBag.Title = "Deletar";
}


    <div class="container">
        <h1>Detalhes de @Model.Nome</h1>
        <p>Aqui você consegue visualizar os detalhes sobre o gênero @Model.Nome</p>
        @using (Html.BeginForm("Excluir", "Genero", FormMethod.Post, new { @Class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <table class="table" style="margin-top: 20px;">
                <tbody>
                    <tr>
                        <td width="15%">Titulo</td>
                        <td>@Model.Nome</td>
                    </tr>
                    <tr>
                        <td>Data de cadastro</td>
                        <td>@Model.DataCriacao</td>
                    </tr>
                    <tr>
                        <td>Ativo</td>
                        <td>@(Model.Ativo ? "Sim" : "Não")</td>
                    </tr>
                </tbody>
            </table>

            <p> Tem certeza que quer deletar esse Registro? </p>
            <button type="submit" class="btn btn-warning">Excluir</button>
            <a href="@Url.Action("Index", "Genero")" class="btn btn-primary">Voltar</a>
        }
    </div>