@model LocadoraDDD.MVC.Models.GeneroViewModel
@{
    ViewBag.Title = "Editar";
}

<div class="container">
    <h2>Gênero @Model.Nome</h2>

    @using (Html.BeginForm("Editar", "Genero", FormMethod.Post, new { @Class = "form-horizontal" }))
    {
        <h4>Editar</h4>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=> m.DataCriacao)
        <div class="form-group">
            @Html.LabelFor(m => m.Nome, new { @Class = "control-label col-md-1" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Nome, new { @Class = "form-control" })
                @Html.ValidationMessageFor(m => m.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Ativo, new { @Class = "control-label col-md-1" })
            <div class="col-md-5">
                @Html.CheckBoxFor(m => m.Ativo)
                @Html.ValidationMessageFor(m => m.Ativo)
            </div>
        </div>

        <div class="btn-group col-md-offset-1">
            <input type="submit" class="btn btn-success" value="Editar" style="margin-right: 10px;" />
            <a href="@Url.Action("Index")" class="btn btn-info">Voltar</a>
        </div>
    }
</div>